:root {
    --color-white: #ffffff;
    --color-light: #f8fafc;
    --color-black: #121212;
    --color-night: #001632;
    --color-blue: #1a73e8;
    --color-gray: #80868b;
    --color-grayish: #dadce0;
    --shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  :root {
    --white: hsla(0, 0%, 100%, 1);
    --white-transparent: hsla(0, 0%, 100%, 0.8);
    --white-transparent2: hsla(0, 0%, 100%, 0.1);
    --black: hsla(0, 0%, 0%, 0.8);
    --black-transparent: hsla(0, 0%, 0%, 0.5);
    --black-pure: hsla(0, 0%, 0%, 1);
    --blue-dark: hsla(223, 52.1%, 28.6%, 1);
    --blue-dark-light: hsla(223, 52.1%, 50%, 1);
    --blue-light: hsla(195, 93.6%, 50.8%, 1);
    --red: hsla(349, 100%, 43.9%, 1);
    --red-dark: hsla(349, 100%, 30%, 1);
    --red-transparent: hsla(349, 100%, 43.9%, 0.8);
    --yellow: hsla(44, 100%, 50%, 1);
    --yellow-dark: hsla(44, 100%, 40%, 1);
    --b-radius: 10px;
    --transition-speed: 0.2s;
    --danger: #D5202B;
    --success: #04aa6d;
  
  }

.form .input-control {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-bottom: 1.25rem;
}

.form .white-input-label .input-label{
    background: transparent !important;
    color: white !important;
}

.form .white-input-label .input-field{
    color: white !important;
}

.form .input-label {
    position: absolute;
    font-family: inherit;
    font-size: 18px;
    /*font-size: 1rem;
    */font-weight: 400;
    line-height: inherit;
    left: 1rem;
    top: 0.75rem;
    padding: 0 0.25rem;
    color: var(--color-gray);
    background: var(--color-white);
    transition: all 0.3s ease;
    
}

.form .input-field {
    position: absolute;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    z-index: 1;
    border: 2px solid var(--color-grayish);
    outline: none;
    border-radius: 0.5rem;
    color: var(--color-black);
    background: transparent;
    transition: all 0.3s ease;
}

.form .input-field::-moz-placeholder {
    opacity: 0;
    visibility: hidden;
    color: transparent;
}

.form .input-field:-ms-input-placeholder {
    opacity: 0;
    visibility: hidden;
    color: transparent;
}

.form .input-field::placeholder {
    opacity: 0;
    visibility: hidden;
    color: transparent;
}

.form .input-field:focus {
    border: 2px solid var(--color-blue);
}

.form .input-field:focus+.input-label {
    font-size: 0.9rem;
    font-weight: 500;
    top: -0.75rem;
    left: 1rem;
    z-index: 5;
    color: var(--color-blue);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form .input-field:not(:-moz-placeholder-shown).input-field:not(:focus)+.input-label {
    font-size: 0.9rem;
    font-weight: 500;
    top: -0.75rem;
    left: 1rem;
    z-index: 5;
}

.form .input-field:not(:-ms-input-placeholder).input-field:not(:focus)+.input-label {
    font-size: 0.9rem;
    font-weight: 500;
    top: -0.75rem;
    left: 1rem;
    z-index: 5;
}

.form .input-field:not(:placeholder-shown).input-field:not(:focus)+.input-label {
    font-size: 0.9rem;
    font-weight: 500;
    top: -0.75rem;
    left: 1rem;
    z-index: 5;
}

.form .input-submit {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: inherit;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    color: var(--color-white);
    background: var(--color-blue);
    box-shadow: var(--shadow-medium);
    text-transform: capitalize;
}

.loginbg {
    position: fixed;
    background-image: url(/assets/img/bg/login_background.jpg);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-color: rgb(223 223 223 / 85%);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.main {
    background: transparent;
    /* z-index: 1; */
}

.wrapper {
    background: transparent;
}